 body{
    height: 300px;
    width: 200px;
    background-color: rgb(17, 17, 17);
    border-radius: 20px;

 }

button{
    margin-top: 20px;
}

::placeholder{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 500;
}